# datasets
# transformers
black
blessed
gpustat
ipdb
ipython
jupyter
jupyterlab-git
nbstripout
numpy
pandas
pylint
pytest
pytest-cov
pytest-html
pyyaml
rich
rootpath
scikit-learn
seaborn
torch==1.8.1
torchaudio
torchtext
torchtyping
torchvision
haste_pytorch
tqdm
uniplot
wandb